body {
    background-color: #76c9e4;
}

label {
    font-size: 40px;
    text-align: center;
    color: rgb(135, 8, 8)
}

h2 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(135, 8, 8);
}

form [type="submit"] {
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

form .input {
    background-color: #ccc;
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}